[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rdo-management/leads
	owner = group user/Solly (DirectXMan12)
	abandon = group rdo-management/leads
	abandon = group rdo-management/ui-cli
	push = group rdo-management/leads
	pushTag = group rdo-management/leads
	pushSignedTag = group rdo-management/leads
	label-Code-Review = -2..+2 group rdo-management/leads
	label-Code-Review = -2..+2 group rdo-management/ui-cli
	label-Verified = -1..+1 group rdo-management/leads
	label-Verified = -1..+1 group rdo-management/ui-cli
	rebase = group rdo-management/leads
	rebase = group rdo-management/ui-cli
	removeReviewer = group rdo-management/leads
	submit = group rdo-management/leads
[access "refs/for/refs/*"]
	read = group user/Solly (DirectXMan12)
	push = group user/Solly (DirectXMan12)
	label-Code-Review = -2..+2 group user/Solly (DirectXMan12)
	label-Verified = -1..+1 group user/Solly (DirectXMan12)
	rebase = group user/Solly (DirectXMan12)
	removeReviewer = group user/Solly (DirectXMan12)
	submit = group user/Solly (DirectXMan12)
[access "refs/heads/*"]
	read = group user/Solly (DirectXMan12)
	create = group user/Solly (DirectXMan12)
	push = +force group user/Solly (DirectXMan12)
	pushMerge = group user/Solly (DirectXMan12)
[access "refs/tags/*"]
	push = +force group user/Solly (DirectXMan12)
	pushTag = group user/Solly (DirectXMan12)
	pushSignedTag = group user/Solly (DirectXMan12)
